.header {
    grid-column: full-start / full-end;
    background-image: url(/img/hero3l.png);
    background-size: cover;
    background-position: center;
    border: 2px solid rgba($color-primary, .3);

    display: grid;
    align-items: center;
    justify-items: center;

    &__text {
        display: grid;
        grid-template-columns: max-content;
    }
}

//contrast

.contrast .header {
    @include contrastH1;
    background-image: none;
}

//switchedColors

.switchedColors .header {
    @include contrastH1;
    background-image: none;
}

//lightBackground

.lightBackground .header {
    @include contrastH1invert;
    background-image: none;
    border: 1px solid black;
}