*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: $font-primary;
    font-weight: 400;
    line-height: 1.6;
    background-color: $color-com-grey;
}

.container {
    display: grid;
    grid-template-rows: 95vh 40vw min-content min-content repeat(5, min-content);
    grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
}

.contrast body {
    @include contrastH1;
}

.switchedColors body {
    @include contrastH1;
}

.lightBackground body {
    @include contrastH1invert;
}


.basicFont body {
    font-family: sans-serif;
    letter-spacing: .15rem;
}

.lazy-img {
    filter: blur(20px);
}


// 1700 - cadre 2rows 3col
// 1400 - offer section czcionka na karcie się rozjeżdża
// 1200 - about section
// 900 - header (mniejsza czcionka), kontakt kolumnowo, offer, section również